<p id="notice"><%= notice %></p>
<h1>Estados</h1>

<table>
  <thead>
    <tr>
      <th>Nome dos Estados</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @states.each do |state| %>
      <tr>
        <td><%= state.state_name %></td>
        <td><%= link_to 'Mostrar cidades', state %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>